<div class="details-container">
	<p>
		Video ID = {{id}}
	</p>

	<p>
		just created? {{justCreated}}
	</p>

	<p>
		video: {{video}}
	</p>

	<p>
		job: {{job}}
	</p>

	<p>
		Job Position: {{job.id}} / {{jobsLength}}
	</p>
</div>