<div class="details-container">
	<p>
		just created? {{justCreated}}
	</p>

	<p>
		video ID: {{video.video_id}}
	</p>

	<p>
		video provider: {{video.video_provider}}
	</p>

	<p>
		video duration: {{video.video_duration}}
	</p>

	<p>
		job status: "{{job.status}}" (Audio is {{^audioReady}}not{{/audioReady}} ready)
	</p>

	<p>
		job creation date: {{job.createdAt}}
	</p>

	<p>
		execution time: {{job.execution_time}}
	</p>

	<p>
		Job Position: {{job.id}} / {{jobsLength}}
	</p>
</div>