<div class="details-container">
	<h4><a href="/">Back</a></h4>
	<hr />

	<p>
		Percentage done: <span class="percentage-complete">{{job.percentage}}%</span>
	</p>

	<p>
		Audio:
			{{#audioReady}}
				<a href="/audio/{{video.video_id}}.mp3">{{video.video_id}}.mp3</a>
			{{/audioReady}}

			{{^audioReady}}
				Not ready yet
			{{/audioReady}}
	</p>

	<p>
		just created? {{justCreated}}
	</p>

	<p>
		video ID: {{video.video_id}}
	</p>

	<p>
		video provider: {{video.video_provider}}
	</p>

	<p>
		video duration: {{video.video_duration}}
	</p>

	<p>
		job status: {{#audioReady}}✅{{/audioReady}}{{^audioReady}}🚥{{/audioReady}} "{{job.status}}" (Audio is {{^audioReady}}not{{/audioReady}} ready)
	</p>

	<p>
		job creation date: {{job.createdAt}}
	</p>

	<p>
		execution time: {{job.execution_time}}
	</p>

	<p>
		Job Position: {{job.id}} / {{jobsLength}}
	</p>
</div>