<div class="container">
	<form action="/details" method="GET">
		<label class="yt-url-label" for="yt-url">YouTube URL:</label>
		<input name="ytUrl" class="yt-url-input" id="yt-url" type="text" placeholder="https://www.youtube.com/watch?v=Jv1ZN8c4_Gs">
		<div class="yt-url-examples">
			<span>e.g.</span>
			<ul>
				{{#exampleYouTubeUrls}}
					<li>
						<a href="{{url}}">{{rawUrl}}</a>
					</li>
				{{/exampleYouTubeUrls}}
			</ul>
		</div>
		<input class="yt-submit" type="submit" value="Get MP3">
	</form>
</div>