<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{#title}}{{title}} - {{/title}}YT MP3 Download</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>

	<div class="container">
		{{{yield}}}
	</div>

<script src="/js/main.js"></script>
</body>
</html>